body {
  background-color: lavender;
}

#final-score {
  text-align: center;
  font-family: 'Kalam', cursive;
  font-size: 30px;
  font-weight: bold;
  background-color: firebrick;
  color: white;
}

#panel {
  font-family: 'Patrick Hand SC', cursive;
  text-align: center;
  font-size: 20px;
  background-color: firebrick;
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-bottom: 40px;
  color: white;
}

#moves-value, #time-value, #solved-value {
  font-family: 'Kalam', cursive;
  font-size: 30px;
  font-weight: bold;
}

#instructions {
  font-family: 'Laila', serif;
  font-size: 20px;
  font-weight: bold;
  width: 80%;
  text-align: center;
  margin: 20px auto;
}

.btn {
  text-align: center;
  margin: auto;
  margin-top: 40px;
}

button {
  font-family: 'Patrick Hand SC', cursive;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  box-shadow: 0 3px 6px firebrick, 3px 0 6px firebrick, 0 -3px 6px firebrick, -3px 0 6px firebrick;
  background-color: firebrick;
  color: white;
}

.row {
  display: flex;
  justify-content: center;
}

.place {
  text-align: center;
  box-shadow: 0 3px 6px red, 3px 0 6px red, 0 -3px 6px red, -3px 0 6px red;
  width: 20%;
  border-radius: 10%;
  padding: 3%;
  margin: 3%;
  background-color: wheat;
}

.card {
  width: 100%;
}

.done {
  width: 100%;
}


.shake {
	animation: attention 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes attention {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 0;
  }
  10% {
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    transform: rotate(4deg);
  }
  80% {
    transform: rotate(-2deg);
  }
  90% {
    transform: rotate(2deg);
  }
}

.show-it {
	animation: slit-show 0.5s ease-out both;
}

@keyframes slit-show {
  0% {
    transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  54% {
    transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
    animation-timing-function: ease-in-out;
    opacity: 1;
  }
  100% {
    transform: translateZ(0) rotate3d(1, 1, 0, 0);
    animation-timing-function: ease-out;
  }
}

.hide-it {
  animation: slit-hide 0.5s ease-in both;
  animation-delay: 0.25s;
}

@keyframes slit-hide {
  0% {
    transform: translateZ(0) rotate3d(1, 1, 0, 0);
    opacity: 1;
  }
  54% {
    transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
    opacity: 1;
  }
  100% {
    transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
    opacity: 0;
  }
}
